**

!Cargo.toml
!Cargo.lock

!crates/
!crates/platform/
!crates/platform/Cargo.toml
!crates/platform/src/
!crates/platform/src/**
!crates/platform/templates/
!crates/platform/templates/**

!migrations/
!migrations/**
!openapi.json

!web/
!web/package.json
!web/package-lock.json
!web/index.html
!web/tsconfig.json
!web/vite.config.ts
!web/src/
!web/src/**

!deploy/
!deploy/**
