#include <bits/stdc++.h>
using namespace std;

{{ return_type }} {{ name }}({% for parameter in parameters %}{{ parameter.type }} {{ parameter.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
    return {};
}
