{{ source }}

import json as _json
import os as _os
_args = _json.loads(input())
_result = Solution().{{ method }}(*_args)
with open('/work/result', 'w') as _f:
    _json.dump(_result, _f, ensure_ascii=False, allow_nan=False)
